* {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}
[class*="col-"] {
	width: 100%;
}
.row {
	max-width: 1200px;
	align-items: center;
}
@media only screen and (max-width: 499px) {
	.header__logo {
		margin-left: calc(50% - 50px);
	}
	.header__content {
		text-align: center;
	}
}
@media only screen and (min-width: 500px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
    .row-m-flex {
    	display: flex;
    	max-width: 1200px;
    }
    .header__content {
    	text-align: right;
    	width: calc(100% - 100px);
    	margin-left: 0px;
    }
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .row-flex {display: flex;}
    .header__title, .header__text {
    	text-align: right;
    	max-width: 1200px;
    	margin-left: 0px;
    }
    .header__content {
    	width: calc(100% - 100px);
    }
    .main__section {
    	width: calc((100% - 20px)/3);
    }
}
img, embed, object, video {
	max-width: 100%;
}
img: last-of-type {
	margin-right: 0px;
}
.header {
	max-width: 1200px;
	margin: auto;
	align-items: center;
}
.header__inner {
	margin-top: 10px;
}
.header__logo {
	max-width: 100px;
	max-height: 100px;
}
.header__title {
	color: #2d3c49;
	font-size: 3em;
	margin-bottom: 4px;
}
.header__text {
	margin-top: 0px;
	color: #2d3c49;
}
.header__line {
	border-width: 2px;
	margin-bottom: 20PX;
	border-style: solid;
	color: #7d97ad;
}
.main__title {
	font-size: 1.8em;
	color: #7d97ad;
	margin-bottom: 10px;
}
h1 {
	font-weight: normal;
}
h2 {
	font-weight: normal;
	margin-right: 0px;
}
h3 {
	font-size: 1.5em;
	margin-bottom: 2px;
	margin-top: 10px;
}
h4 {
	margin-top: 2px;
	word-wrap: break-word;
}
.main__body {
	max-width: 1200px;
	margin: auto;
}
.main__section {
	width: 100%;
	margin-right: 10px;
	margin-left: 0px;
	margin-bottom: 50px;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}